*, *::before, *::after{
    box-sizing: border-box;
    font-family: New Roman;
}
.container{
    background-color: teal;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px;
}
.container{
    color: white;

}
.btn-grid{
   display: block;
   border-radius: 5px;
   background-color: white;
   grid-template-columns: repeat(2, auto);
   gap: 10px;
   margin: 15px 0;
   padding: 5px 10px;
   outline: none;
}
.header{
    display:grid;
}
body{
    background-color: gray;
}
.btn:hover{
    border-color: darkmagenta;
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide{
  display: none;
}